:root {
  --color-primary: #040404;
  --color-secondary: #464545;
  --color-background: #cccccb;
  --color-text: #ffffff;
  --color-press: #6f8585;
  /* --color-primary-dark: hsl(25, 75%, 76%); */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  width: 700px;
  margin: 30px auto;
}
h1 {
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 1rem;
}
p {
  margin: 10px 0;
}
#textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}
#keyboard {
  background-color: var(--color-background);
  width: 100%;
  height: 250px;
  padding: 10px;
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.keyboard-key {
  height: 40px;
  min-width: 40px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: var(--color-primary);
  color: var(--color-text);
  line-height: 40px;
  transition: border-radius 0.2s, background-color 0.2s;
}
.secondary-key {
  background-color: var(--color-secondary);
}
.half-width-key {
  width: 60px;
}
.double-width-key {
  width: 72px;
}
.tripple-width-key {
  width: 74px;
}
.max-width-key {
  width: 160px;
}
.keyboard-key:hover {
  background-color: var(--color-press);
  border-radius: 20px;
  cursor: pointer;
}
.hovered {
  background-color: var(--color-press);
  border-radius: 20px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
